[MASTER]
load-plugins=pylint.extensions.mccabe
disable=missing-module-docstring,
        missing-function-docstring,
		missing-class-docstring,
        import-error,
        cyclic-import,
		C2801,
		C0326

[DESIGN]
max-args=4
max-statements=15

[FORMAT]
max-line-length=80

[REFACTORING]
max-nested-blocks=3
